html 

    head 

    title Game Start Screen

    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=MedievalSharp")
    link(rel="stylesheet", type="text/css", href="./styles/styles.css")
    link(rel="stylesheet", type="javascript", href="./js/index.js")

    body

    div#container

        div#startScreen

            h1 EPIC ADVENTURE!!!

            div#startScreen2
            
                 <h2><a class="button">START</a></h2>
           
                  <h3><a class="button">CONTINUE</a></h3>
           


