<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Epic Adventure</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/index.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>