html 

    head 

    title Game Start Screen

    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=MedievalSharp")
    link(rel="stylesheet", type="text/css", href="./styles/styles.css")
    link(rel="stylesheet", type="javascript", href="./js/index.js")

    body

    div#container

        div#startScreen

            h1 EPIC ADVENTURE!!!

            p.startScreen
            h2.startButton START
                a(href="#")
            h2.loadButton LOAD
                a(href="#")
            h2.settingsButton SETTINGS
                a(href="#")


