html
    script(src="https://code.jquery.com/jquery.js")
    script(src="/js/index.js")

    head 

    title Form

    form(action = "api/scenes/user" method = "POST")
        p User:
            <br/>
        input(type = "text" name = "user" id = "user-id")
         
        p Gender:
            <br/>
        input(type = "radio" name = "gender" value = "1" class = "gender" checked)
        | Male
        input(type = "radio" name = "gender" value = "0" class = "gender")
        | Female<br/>
        <br/>  
        input(type = "submit" value = "submit" id="user-submit")