html 

    head

    title Story
    
    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=MedievalSharp")
    link(rel="stylesheet", type="text/css", href="./styles/styles.css")
    link(rel="stylesheet", type="javascript", href="./js/index.js")

    body
        
    .story
        p.

            In a land far away, two kingdoms neighbor each other. One kingdom of good, named Clareville, and the other kingdom of evil, named Shadowfall. The lands have been at war with each other for hundreds of years, but that had not always been the case. In the search for power and control of both kingdoms, the King of Shadowfall made a deal with a demon which would allow him to use the powers of darkness to turn all of his subjects into monsters and overpower the kingdom of light. In return, however, the demon was to be released using a magic portal to the netherworld. When released, the demon eliminated the King of Shadowfall and corrupted the souls of the people of Shadowfall, making them into all kinds of monsters. This demon was the one to influence the soul of the King and put false ideas into his head. The real person who wanted to rule was himself but only one deity stood in his way. The demon was cunning however, and knew that to take over the kingdom, he would have to eliminate Hiya, the Goddess that protected the Clareville Kingdom. The demon created a plan to stop the deity by creating a powerful beast. That beast was a spider, but no ordinary spider. This creature within it carried venom which cursed anyone it bit to an eternal slumber. However, because of the immense power the spider had, the demon was severely weakened in return. During battle and chaos, the spider came to the Goddess and bit her. The weakening of the Goddess would turn the tides for the evil kingdom. However, as final help before the Goddess’s eternal sleep and unknown to the demon, the Goddess chose a hero and gave to him a special magic crest that contained the power of light. This hero, pure of heart, would command the front lines of the kingdom of light and drive back the beast of darkness. With the gift from the Goddess, the hero, and the armies from Clareville were able push back against the forces of darkness and eventually push back the demon itself. Cornered and afraid, the demon returned to the gate from which it came from and vowed to leave. Centuries have passed since the events that unfolded that day. The hero has long been gone, but the crest was passed down in his family generation by generation. The Goddess, still in deep slumber has been put in a temple by those who follow her and await her return. However, without destroying the spider, she will continue to be in deep sleep. Surviving monsters and beasts still dwell within the land of Shadowfall where the spider still resides. Many warriors have tried to reach the spider and destroy it, but none have been successful. As a decedent of the hero, you have been chosen to search for the spider which once put the Goddess to rest. Destroy it, and awaken the Goddess to finally close the gate for the demon. Luckily, you have something that the other warriors don’t - a crest given to you by your father...

        <a href="/scenes" class="button" id="go-to-scenes">CONTINUE</a></h3>

//- p Scenarios: #{scenes.scenes}