/* .list-group-item {
  line-height: 2.5;
} */

body {

  background-image: url("../images/258107.jpg");
  background-repeat:repeat-x;
  background-attachment:fixed;
  background-position: left center;
  background-size: 100%;
  position:absolute;
  height:100%;
  width: 100%;
  margin:0;


}

#startScreen {
    
  margin: auto;
  margin-top: 50px;
  position: relative;
  width: 390px;
  height: 400px;
  text-align: center;
  border: 8px solid;
  border-radius: 10px;
  box-shadow: 0 1px 32px white;
  transform: rotate(0) scale(0);
  animation: boom 1s linear;
  animation-fill-mode: forwards;
}

@keyframes boom {
  100% {
    transform: rotate(1080deg) scale(1);
  }
}



#startScreen h1 {
  position:absolute;
  margin-top: 70px;
  width: 100%;
  color: #222;
  font-size: 50px;
  text-shadow: 0 1px 2px;
  animation: pulse 6s linear infinite;
  font-family:MedievalSharp;
}

#startScreen2  h2 {
  font-family:MedievalSharp;
  font-size: 30px;
  border-radius:10px;
  box-shadow: 0 2px 40px white;
  margin-top: 300px;
}
#startScreen2  h3{
  font-family:MedievalSharp;
  font-size: 30px;
  border-radius:10px;
  box-shadow: 0 2px 40px white;
  margin-top: 20px;

}
a {
  color: black;
}
a:visited {
  color: black;
}
a:hover, a:active, a:focus {
  color:#c33;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

a.button{
  margin-top:50%;
}

.startScreen p {
  font-weight: bold;
}

.startScreen span {
  position: relative;
  font-size: 18px;
  animation: up 2s linear infinite;
  animation-delay: 3s;
}

.page1 {
  background-image: url("../images/intro3\ \(2\).jpg");
  background-size: 100% 100%;
  font-family:MedievalSharp;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.658);
  text-align: center;
}

.text1 {
margin:auto;
position: relative;
width: 600px;
color:white;
overflow: initial;  

height:600px;
}

.page2 {
  background-image: url("../images/intro5.1.jpg");
  background-size: 100% 100%;
  margin: 0;
  text-align: center;
  font-family: MedievalSharp;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.658);
}

.text2 {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.658);
}

.page2 a {
  color: rgba(255, 255, 255, 0.658);
  border-radius: 10px;
  box-shadow: 0 2px 40px white;
  padding: 10px;
}

.page3 {
  background-image: url("../images/act3.jpg");
  background-size: 100% 100%;
  margin: 0;
  text-align: center;
  font-family: MedievalSharp;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.658);
}

.page3 a {
  color: rgba(255, 255, 255, 0.658);
  border-radius: 10px;
  box-shadow: 0 2px 40px white;
  padding: 10px;
}

.page4 {
  background-image: url("../images/intro5.jpg");
  background-size: 100% 100%;
  margin: 0;
  text-align: center;
  font-family: MedievalSharp;
  font-size: 25px;
  color: rgba(255, 255, 255, 0);
}

.page4 a {
  color: rgba(255, 255, 255, 0.658);
  border-radius: 10px;
  box-shadow: 0 2px 40px white;
  padding: 10px;
}

.page5 {
  background-image: url("../images/intro2.jpg");
  background-size: 100% 100%;
  margin: 0;
  text-align: center;
  font-family: MedievalSharp;
  font-size: 25px;
  color: rgba(255, 255, 255, 0);
}

.page5 a {
  color: rgba(255, 255, 255, 0.658);
  border-radius: 10px;
  box-shadow: 0 2px 40px white;
  padding: 10px;
}

.page6 {
  background-image: url("../images/act5.jpg");
  background-size: 100% 100%;
  margin: 0;
  text-align: center;
  font-family: MedievalSharp;
  font-size: 25px;
  color: rgba(255, 255, 255, 0);
}

.page6 a {
  color: rgba(255, 255, 255, 0.658);
  border-radius: 10px;
  box-shadow: 0 2px 40px white;
  padding: 10px;
}

.pagelost {
  background-image: url("../images/gameover.jpg");
  background-size: 100% 100%;
  margin: 0;
  text-align: center;
  margin-top: 350px;
}

#lost {
  color: rgba(255, 255, 255, 0.658);
  border-radius: 10px;
  box-shadow: 0 2px 40px white;
  padding: 10px;
}

.pagewon {
  background-image: url("../images/youwin.jpg");
  background-size: 100% 100%;
  margin: 0;
}

/* .story {
  text-align: center;
  font-family: MedievalSharp;
  color: rgba(255, 255, 255, 0.685);
}

.story p {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
}

.story a {
  font-weight: bold;
  font-size: 60px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.685);
} */

@keyframes up {
  25% {
    top: -4px;
  }
}

#gameOn {
  font-size: 100px;
  text-align: center;
  text-shadow: 0 2px 0 limegreen, 0 1px 64px white;
  animation: pulse 1.5s linear infinite;
}


