body {

    background-image: url("./258107.jpg");
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position: left center;
    background-size: 100%;
    position:absolute;
    height:100%;
    width: 100%;
    margin:0;
 
  
  }
  
  #startScreen {
      
    margin: auto;
    margin-top: 300px;
    position: relative;
    width: 390px;
    height: 400px;
    text-align: center;
    border: 8px solid;
    border-radius: 10px;
    box-shadow: 0 1px 32px white;
    transform: rotate(0) scale(0);
    animation: boom 1s linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes boom {
    100% {
      transform: rotate(1080deg) scale(1);
    }
  }
  
  #startScreen div {
    height: 50%;
  }
  
  #startScreen h1 {
    position:absolute;
    margin-top: 70px;
    width: 100%;
    color: #222;
    font-size: 50px;
    text-shadow: 0 1px 2px;
    animation: pulse 6s linear infinite;
    font-family:MedievalSharp;
  }

  .startScreen-h2 {
    font-family:MedievalSharp;
    font-size: 30px;
    border-radius:10px;
    box-shadow: 0 2px 40px white;
    
    
  }
  a {
    color: black;
  }
  a:visited {
    color: #636;
  }
  a:hover, a:active, a:focus {
    color:#c33;
  }
  
  @keyframes pulse {
    50% {
      transform: scale(1.1);
    }
  }
  
  #startScreen p {
    font-weight: bold;
  }
  
  #startScreen span {
    position: relative;
    font-size: 18px;
    animation: up 2s linear infinite;
    animation-delay: 3s;
  }
  
  @keyframes up {
    25% {
      top: -4px;
    }
  }
  
  #gameOn {
    font-size: 100px;
    text-align: center;
    text-shadow: 0 2px 0 limegreen, 0 1px 64px white;
    animation: pulse 1.5s linear infinite;
  }
